body {
    padding-top: 80px;
}

.main-container a {
    text-decoration: underline;
}

.flag {
    display: inline-block;
    background-image: url(../img/flags.png);
}

.goal-diff,
.points {
    width: 25%;
}

.chart {
    width: 100%;
    height: 200px;
}

.angular-charts-template .ac-legend-box {
    margin-right: 5px;
}